.profileDiv{
  text-align: center;
  padding-top: 10vh;
  /* border: dashed pink */
}

.textContainer {
  /* text-align: center; */
}

.aboutText{
  padding-top: 5vh;
  padding-left: 10vw;
  padding-right: 10vw;
}

.pleasure-header {
  margin-bottom: 0px;
}

.contactDiv{
  text-align: center;
}

.card{
  width: 80%
}

.projectCard a{
  padding: 5px
}

.contentContainer{
  position: relative;
  top: 7vh;
  z-index: 1;
  text-align:center;
  display: flex;
  flex-direction: column;
  align-items:center;
}

.header {
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 300px;
}

.book-call-button {
  color: white;
}

.book-call-button h3 {
  background-color: #4182C4;
  padding: 10px 10px;
  border-radius: 15px;
}


.ui.menu {
  display:flex;
}

.ui.menu .item {
  flex: 1;
  justify-content: center;
}